---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 05 2021')}
	heroImage="/ProfileIMG.jpg"
>
	<p>
		I launched Insights Emerge to bring User Experience & Consumer Behavior insights to light to inform decision-making and create innovations!</p>
	<p>
		I got my first experience creating websites and working with teams at the University of Washington (UW) over a decade ago. Since those enlightening experiences at UW, I gained enjoyable memories and skills working as an Agile Coach, Project Manager, Product Owner, and Product Manager. During my last role as a Product Manager at Expedia (where this photo was taken), I worked with Marketing Research Analysts, User Experience Researchers, Designers, Developers, UX/UI/XD you name it. I worked closely with several people in this space and was responsible for delivering products for thousands of consumers of Expedia.coms B2C and Expedia for Business B2B. Although I had many role changes, the common theme I always strived for was problem-solving and striving for an improved end-user experience. I’m so grateful to dive deeper into this passion and refine my skills further by starting a graduate program at Michigan State University in User Experience to gain ‘additional skills from UX discovery through product assessment’ per what our MSU UX public facing website describes so well.
	</p>
	<p>
		Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
		suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
		nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
		turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
		dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
		semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
		vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
		facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
		vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
		urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
	</p>
	<p>
		Before starting this program, I completed the Consumer Behavior & Marketing Strategy course at the University of Chicago where I was empowered to launch Insights Emerge! Next, I took classes at Michigan State University in the Master of Science in Marketing Research and Analytics program: Consumer Behavior Decision Making, Experimental Research Design, and Marketing Management. I've started publishing my research (e.g., primary, secondary, behavioral data) and design (website, etc.) portfolio here at Insights Emerge based on my continued education and professional experiences! I'm looking forward to seeing how this evolves! You can view my resume below. Also, don't forget to check out my portfolio under the Portfolio tab in the top right navigation bar above.
	</p>
</Layout>
