---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>iDeas Inc.</h1>
			<p>
				Since I was about 18 years old, I wanted to create my own company called iDeas Inc. 
				My last name is Deas, and I've always been full of innovative ideas!
			</p>
			<p>
				Last summer I finally created my own brand called Insights Emerge. One day I'll get 
				it licensed as Insights Emerge, iDeas Group LLC. 
			</p>
			<p>I've also always wanted to create another blog. My first blog was called Agile Connecter.
				My vision with Insights Emerge is as follows:
			</p>
			<ul>
				<li>Based on Qualitative and Quantitative Primary Research Methods</li>
				<li>Design and Develop web/mobile apps that are user centric first</li>
				<li>Utilize my marketing eduction while in the Broad Business College</li>
				<li>Sprinkle in my passion for Behavioral Science & Psychology</li>
				<li>Live a life that is intrinsically motivated and for a bigger purpose</li>
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
